body {
  font-family: Arial, sans-serif;
  margin: 80px;
  padding: 20px;
  font-size: 18px;
  background-color: #f9f9f9; 
}
 
body {
background-image: url('images/blog.png');
background-size: cover;
background-repeat: repeat;
background-position: center;
height: 100vh; 
margin: 0;
}
 
.container {
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  margin-top: 20px;
  margin-bottom: 30px;
}

h1 {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

h2,h3 {
  color: blue;
  margin-top: 30px;
}

p {
  line-height: 1.5; /* or 150% */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

.flex-container {
  display: flex;
  background-color: gray;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 16px;
}

img { 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px; 
}

img:hover {
  box-shadow: 0 0 2px 1px red;
}

 